.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.bg {
  /* background-color: #FFFFFF; */
  background-image: url('data:image/svg+xml,<svg width="723" height="490" viewBox="0 0 723 490" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_12297_173993)"><mask id="mask0_12297_173993" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-111" y="-88" width="279" height="292"><ellipse cx="144.934" cy="139.152" rx="144.934" ry="139.152" transform="matrix(0.247889 -0.968789 0.962816 0.27016 -141.285 160.812)" fill="url(%23paint0_linear_12297_173993)"/></mask><g mask="url(%23mask0_12297_173993)"><g filter="url(%23filter0_f_12297_173993)"><ellipse cx="144.934" cy="139.152" rx="144.934" ry="139.152" transform="matrix(0.247889 -0.968789 0.962816 0.27016 -243.473 96.9141)" fill="url(%23paint1_linear_12297_173993)"/></g></g><mask id="mask1_12297_173993" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-134" y="-127" width="281" height="266"><ellipse cx="132.828" cy="139.439" rx="132.828" ry="139.439" transform="matrix(-0.2729 0.962042 -0.969431 -0.245365 178.09 -87.5703)" fill="url(%23paint2_linear_12297_173993)"/></mask><g mask="url(%23mask1_12297_173993)"><g filter="url(%23filter1_f_12297_173993)"><ellipse cx="112.149" cy="110.264" rx="112.149" ry="110.264" transform="matrix(-0.817105 0.576489 -0.620249 -0.784405 150.551 99.875)" fill="%23F361D2"/></g></g><mask id="mask2_12297_173993" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-227" y="-39" width="481" height="481"><ellipse cx="13.7189" cy="201.118" rx="240.182" ry="239.993" transform="rotate(31.8919 13.7189 201.118)" fill="url(%23paint3_linear_12297_173993)"/></mask><g mask="url(%23mask2_12297_173993)"><g filter="url(%23filter2_f_12297_173993)"><ellipse cx="140.148" cy="380.769" rx="196.147" ry="195.993" transform="rotate(70.1353 140.148 380.769)" fill="%2382E1FF"/></g></g><mask id="mask3_12297_173993" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="793" y="213" width="235" height="214"><ellipse cx="107.667" cy="116.106" rx="107.667" ry="116.106" transform="matrix(-0.280849 0.959752 -0.971195 -0.238285 1053.24 244.336)" fill="url(%23paint4_linear_12297_173993)"/></mask><g mask="url(%23mask3_12297_173993)"></g><g filter="url(%23filter3_f_12297_173993)"><ellipse cx="161.645" cy="-84.331" rx="152.406" ry="152.669" fill="url(%23paint5_linear_12297_173993)"/></g><g filter="url(%23filter4_f_12297_173993)"><circle cx="161.775" cy="-83.9358" r="83.9548" fill="%23F361D2"/></g><g filter="url(%23filter5_f_12297_173993)"><circle cx="161.643" cy="-84.33" r="83.5607" fill="%23089EF2"/></g><g filter="url(%23filter6_f_12297_173993)"><ellipse cx="736.379" cy="-47.7391" rx="93.8862" ry="83.3818" transform="rotate(-75 736.379 -47.7391)" fill="%23E8C1FB"/></g><g style="mix-blend-mode:hard-light" filter="url(%23filter7_f_12297_173993)"><ellipse cx="640.422" cy="-73.2975" rx="93.4454" ry="82.9903" transform="rotate(-75 640.422 -73.2975)" fill="%23F361D2"/></g><g style="mix-blend-mode:hard-light" filter="url(%23filter8_f_12297_173993)"><ellipse cx="854.068" cy="-16.0528" rx="93.4454" ry="83.1208" transform="rotate(-75 854.068 -16.0528)" fill="%235C28DF"/></g></g><defs><filter id="filter0_f_12297_173993" x="-393.301" y="-332.285" width="639.469" height="652.766" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="90.4942" result="effect1_foregroundBlur_12297_173993"/></filter><filter id="filter1_f_12297_173993" x="-304.817" y="-210.942" width="590.68" height="577.953" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="90.4942" result="effect1_foregroundBlur_12297_173993"/></filter><filter id="filter2_f_12297_173993" x="-236.902" y="3.59752" width="754.102" height="754.344" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="90.4942" result="effect1_foregroundBlur_12297_173993"/></filter><filter id="filter3_f_12297_173993" x="-302.762" y="-549" width="928.812" height="929.336" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="156" result="effect1_foregroundBlur_12297_173993"/></filter><filter id="filter4_f_12297_173993" x="-234.18" y="-479.891" width="791.91" height="791.906" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="156" result="effect1_foregroundBlur_12297_173993"/></filter><filter id="filter5_f_12297_173993" x="-233.918" y="-479.891" width="791.121" height="791.125" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="156" result="effect1_foregroundBlur_12297_173993"/></filter><filter id="filter6_f_12297_173993" x="52.2305" y="-740.977" width="1368.3" height="1386.48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="300" result="effect1_foregroundBlur_12297_173993"/></filter><filter id="filter7_f_12297_173993" x="-43.332" y="-766.102" width="1367.51" height="1385.61" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="300" result="effect1_foregroundBlur_12297_173993"/></filter><filter id="filter8_f_12297_173993" x="170.195" y="-708.867" width="1367.75" height="1385.62" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="300" result="effect1_foregroundBlur_12297_173993"/></filter><linearGradient id="paint0_linear_12297_173993" x1="153.018" y1="35.1163" x2="139.665" y2="284.6" gradientUnits="userSpaceOnUse"><stop stop-color="%23F585FF"/><stop offset="0.40625" stop-color="%23EF88CC" stop-opacity="0.59375"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient><linearGradient id="paint1_linear_12297_173993" x1="153.018" y1="35.1163" x2="139.665" y2="284.6" gradientUnits="userSpaceOnUse"><stop stop-color="%23F585FF"/><stop offset="0.40625" stop-color="%23EF88CC" stop-opacity="0.59375"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient><linearGradient id="paint2_linear_12297_173993" x1="140.237" y1="35.1886" x2="125.615" y2="285.046" gradientUnits="userSpaceOnUse"><stop stop-color="%23F585FF"/><stop offset="0.40625" stop-color="%23EF88CC" stop-opacity="0.59375"/><stop offset="1" stop-color="%23D9D9D9" stop-opacity="0"/></linearGradient><linearGradient id="paint3_linear_12297_173993" x1="27.1147" y1="21.6897" x2="3.15312" y2="451.866" gradientUnits="userSpaceOnUse"><stop stop-color="%23F585FF"/><stop offset="0.40625" stop-color="%23EF88CC" stop-opacity="0.59375"/><stop offset="1" stop-color="%23D9D9D9" stop-opacity="0"/></linearGradient><linearGradient id="paint4_linear_12297_173993" x1="113.672" y1="29.3004" x2="101.168" y2="237.309" gradientUnits="userSpaceOnUse"><stop stop-color="%23F585FF"/><stop offset="0.40625" stop-color="%23EF88CC" stop-opacity="0.59375"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient><linearGradient id="paint5_linear_12297_173993" x1="314.051" y1="-237" x2="96.5954" y2="121.349" gradientUnits="userSpaceOnUse"><stop offset="0.0001" stop-color="%2382E1FF"/><stop offset="0.6" stop-color="%23A6E6FE"/><stop offset="1" stop-color="%23CEECFC"/></linearGradient><clipPath id="clip0_12297_173993"><rect width="723" height="490" fill="white"/></clipPath></defs></svg>');
  /* background-attachment: fixed | scroll; */
  /* background-size: auto | cover | contain | 500px 250px; */
  /* background-position: center | right 30px bottom 15px; */
  /* background-repeat: no-repeat | repeat | repeat-x; */
  /* background-origin: border-box | padding-box | content-box; */
  /* background-clip: border-box | padding-box | content-box; */
  /* background-blend-mode: multiply | screen | overlay; */
}
